@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --default-font-family: "Poppins", sans-serif;

  --dark-color: #222;
  --grey-color: #888;
  --white-color: #fff;

  --fs-big: 4rem;
  --fs-xxl: 3.5rem;
  --fs-xl: 2.25rem;
  --fs-lg: 1.5rem;
  --fs-md: 1rem;
  --fs-sm: 0.85rem;
  --fs-xs: 0.75rem;

  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;

  --zi-fixed: 100;
  --zi-tooltip: 10;
}

@media (max-width: 578) {
  :root {
    --fs-big: 2.5rem;
    --fs-xxl: 2rem;
    --fs-xl: 1.5rem;
    --fs-lg: 1.25rem;
    --fs-md: 0.9rem;
  }
}

/* reset browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--default-font-family);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* utils */
.container {
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 4px;
}
